<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Give product a unique ID per platform -->
  <?if $(var.Platform)=x64 ?>
  <?define ProductCode = "{3471BFCF-3AAE-43D5-922A-464D51AC1B26}" ?>
  <?else?>
  <?define ProductCode = "{C02D48F3-2377-48E6-82F3-D5819B27880B}" ?>
  <?endif?>

  <!-- Fixed upgrade Id -->
  <?define UpgradeCode = "{801D11E6-3401-4C15-8EF5-0E2D08E37A1D}" ?>
  
	<Product Id="$(var.ProductCode)" 
						Name="!(loc.ProductName_$(var.Platform))"
           Language="!(loc.Language)" 
           Version="1.0.0.0"
           Manufacturer="!(loc.Company)" 
           UpgradeCode="$(var.UpgradeCode)">
    
		<Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine"
             Platform="$(var.Platform)"
             Manufacturer="!(loc.Company)"
             Description="!(loc.Description)"
             Keywords="!(loc.Keywords)"
             Comments="!(loc.Comments)"
             Languages="!(loc.Language)"/>

		<!-- Downgrade error message -->
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
    <!-- Include .cab file into .msi file -->
    <MediaTemplate
      EmbedCab="yes"
      />
    <!-- Define main app icon -->
    <Icon Id="icon.ico" SourceFile="$(var.ProjectDir)\app.ico" />
    <!-- Use the icon.ico icon for this installer (shows up in Add/Remove programs) -->
    <Property Id="ARPPRODUCTICON">icon.ico</Property>
    <!-- Help/Support website (shows in the Add/Remove programs) -->
    <Property Id="ARPURLINFOABOUT">https://github.com/Edwardenis/SuperChat</Property>

    <!-- Create a basic UI for the installer -->
    <UIRef Id="WixUI_Minimal" />
    
    <!-- Define components, shortcuts, files etc... for installer -->
    <Feature Id="ProductFeature" Title="SuperChat.Bot.Installer" Level="1">

      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PublishedComponents" />

    </Feature>
	</Product>
  
</Wix>
